[Unit]
PartOf=autosde_storage_manager_refresh.target
[Install]
WantedBy=autosde_storage_manager_refresh.target
[Service]
WorkingDirectory=/home/grare/adam/src/manageiq/manageiq
Environment=BUNDLER_GROUPS=manageiq_default,ui_dependencies
ExecStart=/bin/bash -lc 'exec ruby lib/workers/bin/run_single_worker.rb ManageIQ::Providers::Autosde::StorageManager::RefreshWorker --heartbeat --guid=%i'
Restart=no
Type=notify
Slice=miq-autosde_storage_manager_refresh.slice
