[Unit]
Description=evm watchdog process
After=manageiq.service

[Service]
EnvironmentFile=/etc/default/manageiq*.properties
ExecStart=/usr/bin/ruby /usr/bin/evm_watchdog.rb
Restart=on-failure

[Install]
WantedBy=multi-user.target
