[Unit]
Description=PostgreSQL Failover Monitor for ManageIQ
After=evmserverd.service

[Service]
ExecStart=/bin/sh -l -c "bundle exec postgres_ha_admin"
Restart=on-failure

[Install]
WantedBy=multi-user.target
