[Unit]
Description=PostgreSQL Failover Monitor for ManageIQ
After=evmserverd.service

[Service]
ExecStart=/bin/sh -l -c "bundle exec rails r \"EvmDatabase.run_failover_monitor\""
Restart=on-failure

[Install]
WantedBy=multi-user.target
