[Unit]
PartOf=nuage_network_manager_event_catcher.target
[Install]
WantedBy=nuage_network_manager_event_catcher.target
[Service]
WorkingDirectory=/home/grare/adam/src/manageiq/manageiq
Environment=BUNDLER_GROUPS=manageiq_default,ui_dependencies
ExecStart=/bin/bash -lc 'exec ruby lib/workers/bin/run_single_worker.rb ManageIQ::Providers::Nuage::NetworkManager::EventCatcher --heartbeat --guid=%i'
Restart=no
Type=notify
Slice=miq-nuage_network_manager_event_catcher.slice
